@model List<Khuari.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h1>Customers</h1>

<table id="tblcustomer" class="table table-bordered table-hover">
    <thead>
        <tr>

            <th>Customer Name</th>
            <th>Membership Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        
    <tbody>
</table>


@section scripts{
    <script>




        $(document).ready(function ()
        {
           var table= $('#tblcustomer').DataTable({

                ajax: {
                    url: "/API/customers",
                    dataSrc: ""

                },
                columns: [
                    {
                        data: "c_Name",
                        render: function (data, type, customer)
                        {
                            return "<a href='/Customers/Edit/" + customer.c_Id + " '>" + data + "</a>";
                        }
                    }, {
                        data: "membershipType.name"
                       
                    },
                {
                    data: "c_Id",
                    render: function (data) {
                        return "<button class='btn-link js-delete'  data-customer-id = " + data + " > Delete</button>";
                    }
                }

                ]





            });

            $('#tblcustomer').on('click', '.js-delete', function ()
            {
                var btn = $(this);
                bootbox.confirm('Are you sure ?', function (result) {
                    if (result) {
                        $.ajax({
                            url: "/API/customers/" + btn.attr('data-customer-id'),
                            method: "DELETE",
                            success: function ()
                            {
                                table.row(btn.parents('tr')).remove().draw();
                            }

                        });
                    }



                })
               
            });
        });







</script>
    
    }



