@model List<Khuari.Models.Movie>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>Movies</h1>
<div class="form-group text-right"> 
    <button type="submit" class="btn btn-primary " onclick="redirectToAnotherPage()" >New Movie</button>

</div>

    <table class="table table-bordered table-hover">
        <tr>

            <th>Movie Name</th>
            <th>Genre</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.M_Name, "Edit", "Movies", new
               {
                   id = item.M_Id
               }, null)
                </td>
                <td>
                    @item.Genre.G_Name
                </td>
            </tr>
        }

    </table>
<script>
    function redirectToAnotherPage() {
        var url = '@Url.Action("New", "Movies")';
        window.location.href = url;
    }
</script>

